.header {
  padding: 0 1rem; width: 100%; height: 60px; border-bottom: 1px solid #eaeaea;
  display: flex; justify-content: flex-start; align-items: center;
  background: white;
}

.navLeft {flex: 1}
.navRight {min-width: 160px}

.navLeft, .navRight { height: 40px; }
.navItem {display: inline-block; height: 40px; line-height: 40px}

/* footer */
.footer {
  width: 100%; height: 60px; border-top: 1px solid #eaeaea; display: flex;
  justify-content: center; align-items: center;
  background: #f7f7f7;
}

.footer .row { display: flex; justify-content: center; align-items: center; margin: 10px 0}
.footer a { color: #4571a5 }
.footer a:hover, .footer a:focus, .footer a:active  { color: #1f4b80;}

.printHeader {display: none;}

@media print {
  .footer {display: none;}
  .header {display: none;}
  .printHeader {display: block;}
}

.brandLogo {position: relative; max-height: 28px; margin: 0 -8px -8px 0; }
.pipe { display: inline-block; width: 1px; height: 20px; background: #ccc; margin: 0 20px; position: relative; top: 5px; }

.breadcrumbItemSeparator {padding: 0 10px; }
.breadcrumbItemSeparator::after { content: " › "; color: #bbb; }

.breadcrumbItemContainer { font-size: 0.85rem; }
.breadcrumbItemContainer a { color: #aaa; transition: 0.15s ease-in color; }
.breadcrumbItemContainer a:hover, .breadcrumbItemContainer a:focus, .breadcrumbItemContainer a:active  { color: #1f4b80;}
