/* visual classes */
.panel {
  border: 1px solid #eee; border-radius: 3px;
  background-image: linear-gradient(#fefefe 20px, #fafafa 300px);
  margin-bottom: 1rem; padding: 1rem;
}

.panelTitle {
  padding-bottom: 0.75rem; border-bottom: 1px solid #ddd; margin-bottom: 1rem;
}
