
.tabs {
  margin: 30px 0 -32px;
}

  .tabs .tab {
    height: 50px;
    line-height: 50px;
    padding: 15px 25px;
    border-radius: 3px 3px 0 0;
    border: 1px solid transparent;
    border-right-color: #eee;
    background: rgba(255,255,255,0.7);
  }

  .tabs .tab.selected {
    background: white;
    color: #777;
    border-color: #eee;
    border-bottom-color: transparent;
  }


.mastheadContainer {
  /* background: #18c; */
}
.mastheadContainer h1 {
  /* color: white; */
  /* text-shadow: 0 1px 3px rgba(0,0,0,0.4); */
}
