.gridRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gridAside { flex: 0; min-width: 300px; max-width: 300px; overflow-x: hidden; margin-left: 2rem;}
.gridBody { flex: 1; max-width: 1040px; overflow-x: hidden; }

@media only screen and (max-width: 900px) {
  .gridAside {display: none}
}
